@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #2563EB;
  --color-primary-dull: #A1D6E2;
  --color-light: #F1F1F2;
  --color-borderColor: #101820;
}